__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.DS_Store
.pytest_cache/
.hypothesis/
instance/
.webassets-cache
.scrapy
thumbs.db
ehthumbs.db
Icon?
.directory
.egg-info/
.svn/
.well-known/
CVS/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
.env
config.py